.card {
  margin-top: 2rem;
  background: white;
  border: 0.7px solid rgb(182, 182, 182);
  box-shadow: 0.3rem 0.3rem rgb(240, 240, 240);
  border-radius: 0.5rem;
  width: 18rem;
  height: 22rem;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}
.description {
  padding: 5px 8px;
}
h6 {
  font-size: 0.9rem;
  color: grey !important;
}
.footer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 40%;
  padding-top: 2rem;
}
.rate:nth-child(1) {
  margin-left: 3px;
  background: url(http://web.arjentienkamp.com/codepen/tinder/delete.png);
  background-size: 1.6rem;
  background-position: center;
  background-repeat: no-repeat;
}
.rate:nth-child(3) {
  margin-left: -4px;
  background: url(http://web.arjentienkamp.com/codepen/tinder/heart.png);
  background-size: 1.6rem;
  background-position: center;
  background-repeat: no-repeat;
}

.rate {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  border: 6px solid #e6e6e6;
  float: left;
}
.rate:nth-child(1):hover,
.rate:nth-child(3):hover {
  transform: scale(1.2);
}
.info {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: 5px solid #e6e6e6;
  float: left;
  box-shadow: 1px 1px 1px 0px #e9e9e9;
  margin-top: 14px;
  margin-left: -4px;
  background: url(http://web.arjentienkamp.com/codepen/tinder/info.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}
button {
  outline: none;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3dc49e;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
