.search {
  position: absolute;
  top: 20%;
  transform: translateX(30%);
}

.search-box {
  position: absolute;
  background: #fad69363;
  height: 2.8rem;
  border-radius: 1rem;
  width: 150%;
  margin-top: 1rem;
  padding-top: 0.7rem;
  padding-left: 1rem;
}

.search-btn {
  float: right;
  color: white;
  padding-right: 1rem;
}

.search-btn > i {
  font-size: 1.5rem;
}

.search-txt {
  background: none;
  outline: none;
  float: left;
  font-size: 1.2rem;
  color: white;
}
h4 {
  color: white;
  font-weight: 300;
  font-size: 1.6rem;
  margin: 0;
}
li {
  list-style: none;
  padding-bottom: 1rem;
}
.search-results {
  position: absolute;
  top: 40%;
  transform: translateX(30%);
}
a {
  color: rgb(39, 156, 252);
}
a:hover {
  color: rgb(24, 102, 165);
}
.ng-valid[required],
.ng-valid.required {
  border: none;
}

.ng-invalid:not(form) {
  border: 1px solid rgba(255, 0, 0, 0.589); /* red */
  width: 15rem;
  height: 2rem;
  border-radius: 2rem;
}
