.big-container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(../../images/browse_background.jpg);
  overflow-y: scroll;
  height: 75vh;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
a {
  color: rgb(39, 156, 252);
}
a:hover {
  color: rgb(24, 102, 165);
}
li {
  list-style: none;
}
p {
  color: rgb(37, 37, 37);
}
.side-left {
  width: 40%;
  background: linear-gradient(to right, #d3959b, #9ff0d9);
  height: 300%;
  display: inline-block;
  float: left;
}
.side-right {
  display: inline-block;
  width: 60%;
  float: right;
}
