.container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url(https://image.freepik.com/free-vector/cute-colorful-kitten-pow-pattern-design_1017-14710.jpg);
  overflow-y: scroll;
  height: 75vh;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
li {
  list-style: none;
}
p {
  color: rgb(37, 37, 37);
}
