<div class="navigation">
  <ul>
    <li class="navigation-list">
      <a [routerLink]="['/']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/browse']">Browse</a>
    </li>
    <li>
      <a [routerLink]="['/wikipedicat']">Wikipedicat</a>
    </li>
    <li class="search-box">
      <input
        type="text"
        name=""
        class="search-txt"
        placeholder="Search for breed"
      />
      <span class="search-btn">
        <i class="icon ion-ios-search"></i>
      </span>
    </li>
  </ul>
</div>
