.box-main {
  background-image: url(https://cdn.dribbble.com/users/3281732/screenshots/8616916/media/a7e39b15640f8883212421d134013e38.jpg);
  background-position: top;
  background-size: cover;
  height: 90vh;
}
